{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Découvrez tous nos biens</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cupiditate dolorem facere
                fuga id illum incidunt iure magni modi, mollitia natus nobis optio possimus quibusdam quis sapiente!
                Corporis, optio.</p>
        </div>

    </div>
{% endblock %}